@tailwind base;
@tailwind components;
@tailwind utilities;

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Hiding the Scroll Bar ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
} *::-webkit-scrollbar { 
    display: none; 
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Pre-Styling certain Tags ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@layer base {

    *, svg { @apply text-black }

    html, body       { @apply bg-black;                                    } 
    main             { @apply bg-white;                                    }
    h1               { @apply text-4xl mt-6 font-bold;                      }
    h2               { @apply text-3xl mt-5 font-semibold;                  }
    h3               { @apply text-2xl mt-3 font-medium;                    }   
    h4               { @apply text-xl  mt-2 font-medium;                    }
    p                { @apply          mt-1;                                }
    input, textarea  { @apply dark:bg-inherit;                              }
    a.default        { @apply underline;                                    }

    input.default, 
    textarea.default { @apply text-left border border-current rounded-md p-1; }
    label.default    { @apply text-right font-bold; }
    div.form-group   { @apply w-full grid grid-cols-[auto_1fr] gap-2 px-2; }
    
    button.default   { @apply text-center px-4 py-2 border border-current rounded-3xl flex items-center; }
    button.cancel    { @apply bg-gray-500 font-semibold text-white border-none; }
    button.confirm   { @apply bg-blue-500 font-semibold text-white border-none; }
    button.delete    { @apply bg-red-500  font-semibold text-white border-none; }

    svg.inline-icon { @apply fill-white aspect-square h-5 mr-2 inline-block; }

    input.inline-menu { @apply hidden; }
    label.inline-menu { @apply bg-black p-3 rounded-full text-slate-400; }
    input.inline-menu:checked + label.inline-menu { @apply bg-white text-black; }
    form.inline-menu { @apply bg-black py-4 px-2 rounded-full w-fit mx-auto; }

    table { @apply min-w-full divide-y-4 divide-gray-300 border-gray-300 }
    th { @apply text-left p-1.5 }
    tbody { @apply bg-white divide-y divide-gray-200 }
    tr { @apply divide-x divide-gray-200 }
    td { @apply p-2 }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~e~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
