<h1>
    NEW STUFF
</h1>
<p>
    This is the new stuff page. You can <%-
        include("../../components/navigation/link", { url: "/new/customer", innerHTML: "create a new customer" }) 
    %> or <%-
        include("../../components/navigation/link", { url: "/new/document", innerHTML: "create a new document" }) 
    %> 
</p>