<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PDF Automator</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- TODO : fix styles so that dark reader doesn't have to be enabled: <meta name="darkreader-lock"> -->
        <meta name="theme-color" content="">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta property="og:site_name" content="PDF Automator">
        <meta property="og:title" content="Automate creating PDFs using a GUI, or API.">
        <meta property="og:description" content="With this free self hostable app you can automate the creation of PDFs using a GUI, or API. All for Free, forever. Check the GitHub page for more details.">
        <meta property="og:image" content="/logo.svg">
        <link rel="stylesheet" href="styles/tailwind.output.css"> 
        <script src="https://unpkg.com/htmx.org@2.0.2" crossorigin="anonymous" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"></script>
    </head>
    <body class="flex flex-col m-0 min-h-screen">
        <%- include('components/semantic/header', { user }) %>
        <main class="flex-1" id="main" hx-get="<%= originalUrl %>" hx-trigger="revealed">
            If this is still here, then there was an error loading the actual content.
            Check the console, and server logs for more information about what happend.
            Possible problems might be that Java Script is disabled, or the server can no longer be reached.
        </main>
        <%- include('components/semantic/footer') %>
    </body>
</html>