<section>
    <h1>PDF Automator</h1>
    <p>
        PDF Automator is an <a href="<%= sourceCodeURL %>">open source</a>, and free PDF creation software 
        created, used, and maintained by <a href="https://safs.nl">SAFS</a>. It's free to self host or you 
        can of course ask us to host it for you by <a href="https://redirects.safs.nl/contact">reaching out</a>.
    </p>
    <h2>What is it for?</h2>
    <p>
        PDF Automator is used for creating PDFs with your logo, contact information, and that of your customers, 
        all automagically. All you have to do is sent a request to the API endpoint, or use the web GUI to create it.
    </p>
    <h2>Who is it for?</h2>
    <p>
        PDF Automator is for small business, who don't want to pay for invoice, contracting software. That's 
        why I created this. (Also because it seemed like a fun summer project to make.)
    </p>
    <h2>Want to see more?</h2>
    <p>
        There is are some pictures of the program as well as instructions on how to host it yourself included in the
        <a href="<%= sourceCodeURL %>">repository</a>, all for free.
    </p>
</section>